
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/signalr/signalr.min.js" asp-add-nonce="true"></script>
<script src="~/js/hub.js" asp-add-nonce="true"></script>
<script src="~/js/certificatecounter.js" asp-add-nonce="true"></script>


<h1>Index</h1>
<p id="certificateCount"></p>

